// global

body {
    padding-top: 10px;
}

ul {
    list-style: none;
}

svg {
    margin-right: 8px;
    margin-top: -5px;
}

p {
    margin: 0px;
    padding: 0px;
}

// class selectors

.main-container {
    font-family: Helvetica;
    background-color: #0f1117;
    color: white;
    width: 600px;
    height: 550px;
    margin: 0px auto;
    padding-top: 20px;
    overflow: hidden;
}

.list-container {
    min-height: 460px;
}

.action-container {
    font-family: Helvetica;
    background-color: #0f1117;
    color: white;
    width: 600px;
    height: 100;
    margin: 0px auto;
    padding: 20px;
    padding-top: 40px;
}

.btn-save {
    background-color: #4894c7;
    color: #d5dce5;
    margin-left: 16px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
}

.btn-cancel {
    background-color: #7e838c;
    color: #d5dce5;
    margin-left: 16px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
}

.header {
    padding-left: 20px;
}

.header-text {
    color: white;
    font-size: 16px;
    font-weight: lighter;
}

.header-subtext > p {
    color: #888;
    font-size: 12px;
    margin-top: -5px;
}

.column-header {
    padding-left: 8px;
    font-size: 12px;
    color: #666;
}

.available-list {
    border-right: 1px dashed #666;
}

.list > div > div:hover {
    background-color: #252930;
}

.locked-item {
    color: #666;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
